<%= form_with(model: game, local: true) do |form| %>
<% if game.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

  <ul>
    <% game.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label 'Ingresa tu nombre' %>
  <%= form.text_field :owner %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>