<p id="notice"><%= notice %></p>

<% if @game.status == 'lobby' %>
<div class="container hard-border">
  <div class="row">
    <p>
      <strong>Dueño de la sala:</strong>
      <%= @game.owner.name %>
    </p>
  </div>
  <div class="row">
    <p>
      <strong>Link para unirse:</strong>
      <%= join_to_game_url(game_id: @game.id) %>
    </p>
  </div>
</div>

<div class="container">
  <h3>Jugadores: </h3>

  <div class="row">
    <div class="col-sm">
      <h4>Equipo 1</h4>
      <ul>
        <% @game.players.where(team: 1).each do |p| %>
        <li><%= p.name %><% if p.id == @player.id %> (Yo) <% end %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h4>Equipo 2</h4>
      <ul>
        <% @game.players.where(team: 2).each do |p| %>
        <li><%= p.name %><% if p.id == @player.id %> (Yo) <% end %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <%= form_tag("/switch_team", :method => "get") do %>
    <%= submit_tag("Cambiar de equipo") %>
    <% end %>
  </div>

  <div class='mt-5'>
    <h5>Ingresa tus palabras/frases</h5>
    <div>
      <%= form_tag("/add_word", :method => "post") do %>
      <%= text_field_tag(:word) %>
      <%= submit_tag("Agregar palabra/frase") %>
      <% end %>
    </div>
    <div>
      <ul>
        <% @player.words.each do |word|%>
        <li> <%= word.text %></li>
        <% end %>
      </ul>
    </div>

    <% if @game.owner.id == @player.id %>
    <div class='mt-5'>
      <%= link_to  "Comenzar juego", start_game_path(game_id: @game.id), as: :button %>
    </div>
    <% else %>
    <p>Esperando a que <%= @game.owner.name %> comience el juego</p>
    <% end %>

  </div>
</div>
<% else %>
<h2> Turno <%= @game.turn %>: Equipo <%= @game.current_team %> </h2>
<h3> Jugando: <%= @game.current_player.name %></h3>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 hard-border">
      <% if @game.current_player.id == @player.id %>
      <h3>Es tu turno, tu palabra es: <strong><%= @game.current_word.text %></strong></h3>
      <div>
        <%= link_to 'LO LOGRE!!', next_turn_path(game_id: @game.id, won_turn: true), :class => "btn" %> |
        <%= link_to 'PASAR', next_turn_path(game_id: @game.id, won_turn: false), :class => "btn btn-danger"%>
      </div>
      <% elsif @game.current_team == @player.team %>
      <h3>Adivina la palabra de <%= @game.current_player.name %></h3>
      <% else %>
      <h3>Está jugando el equipo <%= @game.current_team %>, espera tu turno </h3>
      <% end %>
    </div>
    <div class="col-md-2 hard-border">
      <h5>Equipo 1 <strong><%= @player.team == 1 ? "(Tu equipo)" : "" %></strong>: <%= @game.t1_score %> puntos</h5>
      <ul>
        <% @team1.each do |player| %>
        <li><%= player.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-2 hard-border">
      <h5>Equipo 2 <strong><%= @player.team == 2 ? "(Tu equipo)" : "" %></strong>: <%= @game.t2_score %> puntos</h5>
      <ul>
        <% @team2.each do |player|%>
        <li><%= player.name %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
<% end %>

<script>
  setTimeout(function() {
    window.location.reload(1);
  }, 6000);
</script>


<!--
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
-->