<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @word.game_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @word.text %>
</p>

<p>
  <strong>Player:</strong>
  <%= @word.player_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
